# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt

In [3]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [6]:
# Convert the date column format from string to datetime
df['date'] = pd.to_datetime(df['date'])
df.head()

       station       date  prcp  tobs
0  USC00519397 2010-01-01  0.08    65
1  USC00519397 2010-01-02  0.00    63
2  USC00519397 2010-01-03  0.00    74
3  USC00519397 2010-01-04  0.00    76
4  USC00519397 2010-01-06   NaN    73

In [7]:
# Set the date column as the DataFrame index
df.set_index(df['date'], inplace=True)
df.head()

                station       date  prcp  tobs
date
2010-01-01  USC00519397 2010-01-01  0.08    65
2010-01-02  USC00519397 2010-01-02  0.00    63
2010-01-03  USC00519397 2010-01-03  0.00    74
2010-01-04  USC00519397 2010-01-04  0.00    76
2010-01-06  USC00519397 2010-01-06   NaN    73

In [9]:
# Drop the date column
del df['date']
df.head()

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73

### Compare June and December data across all years

In [10]:
from scipy import stats

In [12]:
# Filter data for desired months
june_data = df[df.index.month == 6]
december_data = df[df.index.month == 12]
print(december_data)

                station  prcp  tobs
date
2010-12-01  USC00519397  0.04    76
2010-12-03  USC00519397  0.00    74
2010-12-04  USC00519397  0.00    74
2010-12-06  USC00519397  0.00    64
2010-12-07  USC00519397  0.00    64
...                 ...   ...   ...
2016-12-27  USC00516128  0.14    71
2016-12-28  USC00516128  0.14    71
2016-12-29  USC00516128  1.03    69
2016-12-30  USC00516128  2.37    65
2016-12-31  USC00516128  0.90    65

[1517 rows x 3 columns]

In [17]:
# Identify the average temperature for June
june_avg = june_data['tobs'].mean()
print(round(june_avg))

75

In [18]:
# Identify the average temperature for December
dec_avg = december_data['tobs'].mean()
print(round(dec_avg))

71

In [ ]:
# Create collections of temperature data

In [24]:
# Run paired t-test
stats.ttest_ind(june_data, december_data)

TypeError: unsupported operand type(s) for /: 'str' and 'int'

### Analysis